name: Release
on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version to release"
        required: true
        default: patch
        type: choice
        options:
          - major
          - minor
          - patch
          - premajor
          - preminor
          - prepatch
      title:
        description: "The name of the release"
        required: false
        type: string
permissions:
  id-token: write # Required for OIDC
  contents: write # Required to create releases
  packages: write # Required to publish to GitHub
concurrency:
  group: release
jobs:
  test:
    name: Stage 1 - Test
    uses: ./.github/workflows/release-stage-1-test.yml
  tag:
    name: Stage 2 - Tag
    needs: test
    uses: ./.github/workflows/release-stage-2-tag.yml
    with:
      version: ${{ inputs.version }}
      title: ${{ inputs.title }}
    secrets: inherit
  merge:
    name: Stage 3 - Merge
    if: ${{ ! contains(inputs.version, "pre") }} # only run this stage for release tags
    needs: tag
    uses: ./.github/workflows/release-stage-3-merge.yml
    with:
      git_tag: ${{ needs.tag.outputs.git_tag }}
    secrets: inherit
  announce:
    name: Stage 4 - Announce
    if: ${{ ! contains(inputs.version, "pre") }} # only run this stage for release tags
    needs: [ tag, merge ]
    uses: ./.github/workflows/release-stage-4-announce.yml
    with:
      git_tag: ${{ needs.tag.outputs.git_tag }}
      title: ${{ inputs.title }}
    secrets: inherit
  publish:
    name: Stage 5 - Publish
    if: ${{ ! contains(inputs.version, "pre") }} # only run this stage for release tags
    needs: announce
    uses: ./.github/workflows/release-stage-5-publish.yml
    secrets: inherit
